ion-card{
    text-align: center;
    align-content: center;
    color: black;
}
ion-input, ion-textarea{ 
    border-radius: 5px;
    background-color: #F2F2F2;
}

ion-card-title{
    font-size: 1.5em;
}

ion-img{
    margin-top: 15px;
}