<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal(false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img src="assets/LogoB.png" style="width: 40px;" slot="end"></ion-img>
    <ion-title>
      <span style="font-weight:normal">{{"addSculpture" | translate}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="fondo">
  <form [formGroup]="formularioImagen" (ngSubmit)="guardar()">

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"photoMainSculpture" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImagenSolo(true)">{{"galleryPhoto" | translate}}</ion-button>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImagenSolo(false)">{{"cameraPhoto" | translate}}</ion-button>
        <ion-img src="{{imagenSolo}}" *ngIf="imagenSolo!=null"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"nameSculpture" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="10" maxlength="300"  #nombre type="text" formControlName="nombre"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"authorSculpture" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="10" maxlength="50"  #autor type="text" formControlName="autor"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"brotherhood" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="10" maxlength="150" #hemandad type="text" formControlName="hermandad"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"brotherhood" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="5" maxlength="100"  #salida type="text" formControlName="salida"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"sc" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="10" maxlength="100"  #sedeCanonica type="text" formControlName="sedeCanonica"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"description" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea  minlength="20"  #descripcion
          formControlName="descripcion" rows="10" cols="30"></ion-textarea>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"galeryImage1" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImagenPaso(true)">{{"galleryPhoto" | translate}}</ion-button>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImagenPaso(false)">{{"cameraPhoto" | translate}}</ion-button>
        <ion-img src="{{imagenPaso}}" *ngIf="imagenPaso!=null"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"description" | translate}} 2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea  minlength="20" #descripcion2
          formControlName="descripcion2" rows="10" cols="30"></ion-textarea>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"galeryImage2" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImagenPaso2(true)">{{"galleryPhoto" | translate}}</ion-button>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImagenPaso2(false)">{{"cameraPhoto" | translate}}</ion-button>
        <ion-img src="{{imagenPaso2}}" *ngIf="imagenPaso2!=null"></ion-img>
      </ion-card-content>
    </ion-card>


    <ion-button color="dark" expand="full" type="submit" [disabled]="!formularioImagen.valid">{{"add" | translate}}</ion-button>
  </form>
</ion-content>