ion-card-content{
    text-align: justify;
}
ion-card-subtitle{
    text-align: center;
}
ion-card-title{
    background-color: #1E1A34;
    color: #fff;
    text-align: center;
    padding: 10px;
}
ion-slide{
    overflow: hidden;
    width: 100%;
}
ion-slides{
    margin-top: 30px;
    overflow: hidden;
    width: 100%;
}
ion-img{
    width: 100%;
}