<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal(false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img src="assets/LogoB.png" style="width: 40px;" slot="end"></ion-img>
    <ion-title>
      <span style="font-weight:normal">Mezquita Cofrade</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-img src="{{item.imagen1}}" (ionImgDidLoad)="imagenCargada()" ></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{"schedule" | translate}}</ion-card-subtitle>
      <ion-card-subtitle>{{item.horaAperturaManana}} a {{item.horaCierreManana}} - {{item.horaAperturaTarde}} a
        {{item.horaCierreTarde}}</ion-card-subtitle>
      <ion-card-title background="light">{{item.nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{item.descripcion}}

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="{{item.imagen2}}" *ngIf="item.imagen2!=null"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="{{item.imagen3}}" *ngIf="item.imagen3!=null" ></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="{{item.imagen4}}"  *ngIf="item.imagen4!=null"></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-card-content>

    <ion-button color="danger" expand="full" *ngIf="estadoAuth()" (click)="borrarTemplo(item.id)">Eliminar</ion-button>
</ion-content>