<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-img src="assets/LogoB.png" style="width: 40px;" slot="end"></ion-img>
    <ion-title>
      <span style="font-weight:normal">Mezquita Cofrade</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
      <ion-img src="assets/templo.png" style="width: 25px;"></ion-img>
      <ion-label>{{"temple" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="man"></ion-icon>
      <ion-label>{{"sculpture" | translate}}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>