<ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
<ion-content>


  <ion-content class="card-background-page">

      <ion-list #dynamicList id="dynamicList">
        <ion-card *ngFor="let item of listadoPanel;let i = index" (click)="presentModal(item)">
          <ion-img src="{{item.imagenSolo}}" (ionImgDidLoad)="imagenCargada($event)" ></ion-img>
          <div class="card-title">{{item.nombre}}</div>
          <div class="card-subtitle">{{item.hermandad}}</div>
        </ion-card>
        
      </ion-list>
  
    <ion-infinite-scroll threshold="2"  position="bottom" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando mas contenido...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

</ion-content>