

.card-background-page {

    ion-card {
      height: 180px;
      position: relative;
      text-align: center;
    }
  
    .pulsado {
      opacity: 1 !important;
    }
  
    ion-img {
      opacity: 0.3;
    }
  
    ion-card:active ion-img {
      opacity: 1;
    }
  
    .card-title {
      position: absolute;
      top: 10%;
      font-size: 1.8em;
      width: 80%;
      font-weight: bold;
      color: #000000;
      left: 10%;
    }
  
    .card-subtitle {
      border-radius: 10px;
      position: absolute;
      left: 10%;
      font-size: 1.0em;
      top: 50%;
      width: 80%;
      color: #000000;
    }
  
  }