.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.card-background-page {

  ion-card {
    height: 120px;
    position: relative;
    text-align: center;
    align-content: center;
  }

  .pulsado {
    opacity: 1 !important;
  }

  ion-img{
    opacity: 0.6;
  }
  ion-card:active  ion-img {
    opacity: 1;
  }

  .card-title {
    position: absolute;
    width: 100%;
    top: 10%;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
  }

  // .card-subtitle {
  //   border-radius: 10px;
  //   position: absolute;
  //   left: 10%;
  //   font-size: 1.0em;
  //   top: 20px;
  //   width: 80%;
  //   color: #000000;
  //   background-color: #fafbfd;
  // }

}