<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">

  <ion-list #dynamicList id="dynamicList">
    <ion-card *ngFor="let item of listadoPanel;let i = index" (click)="presentModal(item)">
      <ion-img src="{{item.imagen1}}" (ionImgDidLoad)="imagenCargada($event)"></ion-img>
      <div padding class="card-title">{{item.nombre}}</div>
    </ion-card>


  </ion-list>
  <ion-infinite-scroll threshold="120px" (ionInfinite)="loadData($event)" disabled="true">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas contenido...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>