<ion-app>

  <ion-split-pane>

    <ion-menu side="start" menuId="custom" class="my-custom-menu">
      <ion-header>
        <ion-toolbar color="light">
          <ion-title>{{"menu" | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <form [formGroup]="formulario" (ngSubmit)="authSesion(); limpiaFormulario()">
          <div padding>
            <ion-list *ngIf="!estadoAuth()">

              <ion-item>
                <ion-label fixed>{{"user" | translate}}</ion-label>
                <ion-input #username id="username" type="text" formControlName="usuario" value=""></ion-input>
              </ion-item>

              <ion-item>

                <ion-label fixed>{{"password" | translate}}</ion-label>
                <ion-input #passwd id="passwd" type="password" formControlName="password" value=""></ion-input>

              </ion-item>
            </ion-list>
          </div>
          <div padding *ngIf="!estadoAuth()">
            <ion-button color="dark" expand="full" type="submit" [disabled]="!formulario.valid">{{"login" | translate}}</ion-button>
          </div>
        </form>

        <div padding>
          <ion-list *ngIf="estadoAuth()">
            <ion-item color="light" (click)="presentModalTemplo(item)">{{"addTemple" | translate}}</ion-item>
            <ion-item color="light" (click)="presentModalImagen(item)">{{"addSculpture" | translate}}</ion-item>
            <ion-button color="dark" expand="full" (click)="cerrarSesion();">{{"logingout" | translate}}</ion-button>
          </ion-list>
        </div>
        <ion-item class="lenguaje" color="tertiary" lines="none">
          <ion-icon slot="start" name="flag" color="tertiary"></ion-icon>
          <ion-label style="font-size:0.95rem">{{"changeLang" | translate}}</ion-label>
          <ion-toggle slot="end" [(ngModel)]="langmenu" (ionChange)="changeLang($event)"></ion-toggle>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet> <!-- sin esto no funciona -->
  </ion-split-pane>



</ion-app>