<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal(false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img src="assets/LogoB.png" style="width: 40px;" slot="end"></ion-img>
    <ion-title>
      <span style="font-weight:normal">{{"addTemple" | translate}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="fondo">
  <form [formGroup]="formularioTemplo" (ngSubmit)="guardar()">

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"templeName" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input minlength="15" maxlength="200" placeholder="Nombre" #nombre type="text" formControlName="nombre"></ion-input>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"ott" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input pattern="^([01]?[0-9]|2[0-3]):[0-5][0-9]$" #horaAM type="text" formControlName="horaAM" placeholder="00:00"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"ctt" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input pattern="^^([01]?[0-9]|2[0-3]):[0-5][0-9]$" #horaCM type="text" formControlName="horaCM" placeholder="00:00"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"ota" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input pattern="^([01]?[0-9]|2[0-3]):[0-5][0-9]$" #horaAT type="text" formControlName="horaAT" placeholder="00:00"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"cta" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input pattern="^([01]?[0-9]|2[0-3]):[0-5][0-9]$" #horaCT type="text" formControlName="horaCT" placeholder="00:00"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"description" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea minlength="10" maxlength="30000" #descripcion formControlName="descripcion" rows="10" cols="30"></ion-textarea>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"mainImage" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImage1(true)">{{"galleryPhoto" | translate}}</ion-button>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImage1(false)">{{"cameraPhoto" | translate}}</ion-button>
        <ion-img src="{{image1}}" *ngIf="image1!=null"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"galeryImage1" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImage2(true)">{{"galleryPhoto" | translate}}</ion-button>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImage2(false)">{{"cameraPhoto" | translate}}</ion-button>
        <ion-img src="{{image2}}" *ngIf="image2!=null"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"galeryImage2" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImage3(true)">{{"galleryPhoto" | translate}}</ion-button>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImage3(false)">{{"cameraPhoto" | translate}}</ion-button>
        <ion-img src="{{image3}}" *ngIf="image3!=null"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{"galeryImage3" | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImage4(true)">{{"galleryPhoto" | translate}}</ion-button>
        <ion-button color="dark" expand="block" size="small" (click)="guardarImage4(false)">{{"cameraPhoto" | translate}}</ion-button>
        <ion-img src="{{image4}}" *ngIf="image4!=null"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-button color="dark" expand="full" type="submit" [disabled]="!formularioTemplo.valid">{{"add" | translate}}</ion-button>

  </form>
</ion-content>