<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal(false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img src="assets/LogoB.png" style="width: 40px;" slot="end"></ion-img>
    <ion-title>
      <span style="font-weight:normal">Mezquita Cofrade</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <ion-img src="{{item.imagenSolo}}" (ionImgDidLoad)="imagenCargada()" ></ion-img>
      <ion-card-title>{{item.nombre}}</ion-card-title>
      <ion-card-content class="autor">{{item.autor}}</ion-card-content>
      <ion-card-subtitle>{{item.hermandad}}</ion-card-subtitle>
      <ion-card-content class="salida">{{item.salida}}</ion-card-content>
      <ion-card-content class="sede">{{item.sedeCanonica}}</ion-card-content>
      <ion-card-content>{{item.descripcion}}</ion-card-content>
      <ion-img src="{{item.imagenPaso}}"></ion-img>
      <ion-card-content>{{item.descripcion2}}</ion-card-content>
      <ion-img src="{{item.imagenPaso2}}"></ion-img>

      <ion-button color="danger" expand="full" *ngIf="estadoAuth()" (click)="borrarImagen(item.id)">{{"delete" | translate}}</ion-button>
</ion-content>