ion-card-title{
    background-color: #1E1A34;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
ion-card-subtitle{
    color: black;
    text-align: center;
    padding: 5px;
}

.sede{
    text-align: center;
    border-bottom: 1px #F59B14 solid;
}

.autor{
    text-align: center;
    background-color: #A9AEC0;
    padding: 4px;
}

.salida{
    padding: 2px;
    background-color: #586480;
    color: #fff;
    text-align: center;
}